<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.james.mall.bean"/>
        <!--<package name="com.james.mall.dto"/> 多个-->
    </typeAliases>
    <!--<mappers >-->
        <!--<mapper resource="static/mapper/ProductListMapper.xml"/> 在application.properties中配置-->
    <!--</mappers>-->
</configuration>